# 忽略目录
/dist
/build
/tests
/node_modules
/public
/src/public
/src/static
/src/manifest.json
/vite.config.ts
/unocss.config.js

# node 覆盖率文件
coverage/

# 忽略文件
**/*-min.js
**/*.min.js
**/*-min.css
**/*.min.css